<form class="" action="/pirates" method="post">
  <p>Pirate's name</p><input type="text" name="pirate[name]" value="">
  <p>Pirate's weight</p><input type="text" name="pirate[weight]" value="">
  <p>Pirate's height</p><input type="text" name="pirate[height]" value="">
  <p>Ship's name:</p><input type="text" name="pirate[ships][][name]" value="">
  <p>Ship's type:</p><input type="text" name="pirate[ships][][type]" value="">
  <p>Ship's booty:</p><input type="text" name="pirate[ships][][booty]" value="">
  <p>Ship 2's name:</p><input type="text" name="pirate[ships][][name]" value="">
  <p>Ship 2's type:</p><input type="text" name="pirate[ships][][type]" value="">
  <p>Ship 2's booty:</p><input type="text" name="pirate[ships][][booty]" value="">
</form>
