<form class="" action="/pirates" method="post">
  <p>Pirate's name</p><input type="text" name="pirate[name]" value="">
  <p>Pirate's weight</p><input type="text" name="pirate[weight]" value="">
  <p>Pirate's height</p><input type="text" name="pirate[height]" value="">
</form>
