<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/pirates" method="post">
      <p>Pirate's name</p><input type="text" name="pirate[name]" value="">
      <p>Pirate's weight</p><input type="text" name="pirate[weight]" value="">
      <p>Pirate's height</p><input type="text" name="pirate[height]" value="">
      <p>Ship's name:</p><input type="text" name="pirate[ships][][name]" value="" id="ship_name_1">
      <p>Ship's type:</p><input type="text" name="pirate[ships][][type]" value="" id="ship_type_1">
      <p>Ship's booty:</p><input type="text" name="pirate[ships][][booty]" value="" id="ship_booty_1">
      <p>Ship 2's name:</p><input type="text" name="pirate[ships][][name]" value="" id="ship_name_2">
      <p>Ship 2's type:</p><input type="text" name="pirate[ships][][type]" value="" id="ship_type_2">
      <p>Ship 2's booty:</p><input type="text" name="pirate[ships][][booty]" value="" id="ship_booty_2">
      <input type="submit" name="submit" value="" id="submit">
    </form>

  </body>
</html>
